.btn {
    border-radius: 0 !important;
}

label.req {
    color: red;
}

.form-control:not(textarea) {
    height: 40px !important;
}

.ordTbl input {
    width: 75px !important;
    border: none !important;
}